@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

#project-list {
  > div {
    margin-top: 60px;
    margin-bottom: 60px;
    background: $white;
    @include border-radius(0px 0px 5px 5px);

    .title {
      padding: 15px;
      background: $navyBlue;
      @include border-radius(5px 5px 0px 0px);

      h3 {
        margin: 0;
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
        color: $white;
      }
    }

    ul {
      margin: 0;
      list-style: none;
      padding-bottom: 10px;
      overflow-y: scroll;
      max-height: 320px;

      li a {
        display: block;
        padding: 10px 15px 10px 20px;
        border-bottom: 1px solid $lightestBlue;
        color: $violetBlue;

        i {
          float: right;
          font-size: 18px;
          margin: 4px 0;
          color: $lightBlue;
        }

        &:hover {
          background: $lightestBlue;
          border-left: 4px solid $aqua;
          padding-left: 16px;
          color: $aqua;

          i {
            color: $aqua;
          }
        }

        &.disabled {
          i {
            margin: 0;

            > .spinner {
              left: -5px !important;
              top: 12px !important;
            }
          }
        }

        &.disabled:hover {
          background: none;
          border-left: 0;
          padding-left: 20px;
          color: $violetBlue;
          cursor: default;

          i {
            color: $lightBlue;          
          }
        }
      }
    }

    .empty {
      .empty-msg,
      .setup-msg {
        font-size: 16px;
        text-align: center;
        padding: 20px 15px;
        margin: 0;
      }
    }
  }
}

#project-details {
  max-width: 100%;
  height: 100%;

  #sidebar-region {
    background: $white;

    #sidebar {
      height: 100%;

      #project-name {
        background: $lightestGray;
        padding: 14px 12px;
        color: $orange;
        font-weight: bold;
        font-size: 16px;
        height: 45px;
        position: absolute;
        top: 0;
        width: 100%;
        border-bottom: 1px solid $lightestBrown;

        #hide-sidebar {
          font-size: 25px;
          color: $gray;
          line-height: 15px;
          float: right;
          font-family: Arial, Helvetica, sans-serif;

          &:hover {
            color: $orange;
          }
        }
      }

      #find-story {
        border-bottom: 1px solid $lighterBlue;
        position: absolute;
        top: 45px;
        width: 100%;

        form {
          margin: 0;
          padding: 10px;

          input,
          a {
            background: $lighterBlue;
          }

          .keyword {
            margin-right: 46px;

            input {
              width: 100%;
              padding: 10px 12px;
              border: 0;
              box-shadow: none;
              font-size: 14px;
              height: 36px;
              margin: 0;
              color: $violetBlue;
              @include border-radius(4px);
            }
          }

          .settings-cog {
            float: right;
            margin-left: 10px;

            a {
              display: block;
              width: 36px;
              height: 36px;
              text-align: center;
              padding: 9px 0;
              color: $violetBlue;
              @include border-radius(4px);

              &:hover {
                color: $aqua;
              }
            }
          }
        }

        .settings {
          background: $darkVioletBlue;
          border-top: 2px solid $darkerVioletBlue;
          border-bottom: 2px solid $darkerVioletBlue;

          ul {
            margin: 0;
            list-style: none;
            overflow: hidden;
            padding: 10px;

            li {
              float: left;
              display: block;
              width: 95px;

              label {
                font-size: 14px;
                color: $white;
                font-weight: normal;

                input {
                  margin: 5px 5px 0 0;
                  float: left;
                }
              }
            }
          }
        }
      }

      #stories-region {
        height: 100%;

        #stories {
          padding-top: 102px;
          height: 100%;

          > .columns {
            height: 100%;
            overflow-y: scroll;
          }

          .inner > ul {
            padding: 0;
            margin: 0;
            list-style: none;

            > li {
              &.empty {
                font-size: 14px;
                padding: 10px;
              }

              > a {
                display: block;
                font-size: 14px;
                padding: 10px;
                color: $violetBlue;
                border-bottom: 1px solid $lighterBlue;

                &:hover {
                  background: $lightestBlue;
                  border-left: 4px solid $aqua !important;
                  padding-left: 6px;
                  color: $aqua;
                }
              }

              .has-tasks {
                float: right;
                margin: 10px 10px 0 0;
                color: $violetBlue;
              }

              .tasks {
                background: $darkVioletBlue;
                border-top: 2px solid $darkerVioletBlue;
                border-bottom: 2px solid $darkerVioletBlue;
                list-style: none;
                margin: 0;

                li {
                  &.empty {
                    font-size: 14px;
                    color: $white;
                    padding: 10px;
                    text-align: center;
                  }

                  a {
                    display: block;
                    padding: 7px 10px;
                    font-size: 14px;
                    color: $white;

                    &:hover {
                      background: $violetBlue;
                    }

                    &.complete {
                      text-decoration: line-through;
                    }

                    input {
                      margin: 0 10px 0 0;
                    }
                  }
                }
              }

              &.open {
                > a {
                  font-weight: bold;
                }
              }

              &.started > a {
                border-left: 4px solid $aqua;
                padding-left: 6px;
              }

              &.finished > a {
                border-left: 4px solid $darkBlue;
                padding-left: 6px;
              }

              &.delivered > a {
                border-left: 4px solid $orange;
                padding-left: 6px;
              }

              &.accepted > a {
                border-left: 4px solid $green;
                padding-left: 6px;
              }

              &.rejected > a {
                border-left: 4px solid $maroon;
                padding-left: 6px;
              }
            }
          }

          .inner > .more {
            font-size: 14px;
            padding: 15px 10px;
            text-align: center;
            display: block;
            min-height: 47px;
            font-weight: bold;

            i {
              font-size: 16px;
              font-weight: bold;
              display: inline-block;
              margin-right: 3px;
            }

            .spinner {
              top: 8px !important;
            }

            &.hide {
              display: none;
            }
          }

          &.settings-shown {
            padding-top: 174px;
          }
        }

        #filter-preloader {
          color: $aqua;
          padding-top: 102px;

          &.settings-shown {
            padding-top: 174px;
          }

          .loading,
          .message {
            float: left;
          }

          .loading {
            width: 50px;
            height: 100px;
            display: inline-block;
            margin-left: 20px;
          }

          .message {
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
            margin: 40px 0 0 5px;
          }
        }
      }
    }
  }

  #inner-content {
    height: 100%;
    border-left: 1px solid $lightestBrown;

    #chatinfo {
      background: $lighterBlue;
      border-bottom: 1px solid $lightBlue;
      height: 45px;
      position: absolute;
      width: 100%;

      #back-projects {
        width: 150px;
        float: left;

        a {
          color: $aqua;
          margin: 15px 0 0 15px;
          display: inline-block;
        }
      }

      #online-members {
        text-align: right;
        padding: 7px;
        float: right;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            float: right;

            a {
              display: block;
              border: 3px solid $lightBlue;
              width: 30px;
              height: 30px;
              background: $white;
              margin-left: 5px;

              img {
                vertical-align: top;
              }
            }
          }
        }
      }
    }

    #chatbox-region {
      height: 100%;

      #chatbox {
        height: 100%;
        padding-top: 45px;
        padding-bottom: 66px;

        > .columns {
          height: 100%;
          overflow-y: scroll;

          .message {
            padding: 20px 20px 10px 20px;

            .avatar {
              float: left;
              width: 75px;

              img {
                width: 48px;
                height: 48px;
                @include border-radius(4px);
              }
            }

            .body {
              margin-left: 75px;
              background: $white;
              padding: 15px;
              @include box-shadow(0px 1px 2px 0px #DDDDDD);
              @include border-radius(4px);

              &:before {
                content: " ";
                width: 0;
                height: 0;
                border-right: 9px solid $white;
                border-top: 9px solid transparent;
                border-bottom: 9px solid transparent;
                position: absolute;
                margin-left: -23px;
              }

              .meta {
                overflow: hidden;

                .member-name,
                .created {
                  width: 50%;
                  float: left;
                }

                .member-name {
                  a {
                    font-weight: bold;
                    color: $darkGray;
                    font-size: 15px;
                  }
                }

                .created {
                  color: $orange;
                  font-size: 14px;
                  text-align: right;
                }
              }

              .message-body {
                font-size: 14px;
                margin-top: 10px;

                p {
                  margin: 0;
                }
              }
            }

            &:last-child {
              border-bottom: 0;
            }
          }

          #preloader {
            margin: 150px 0px;

            .message {
              margin: 20px 0 0 5px;
            }
          }
        }
      }
    }

    #chatinput {
      border-top: 1px solid $lightestBrown;
      background: $white;
      padding: 15px;
      height: 66px;
      position: absolute;
      bottom: 0;
      width: 100%;

      form {
        margin: 0;

        input[type=text] {
          background: $lighterBlue;
          border: 0;
          box-shadow: none;
          font-size: 14px;
          padding: 17px 10px;
          margin: 0;
          color: $darkNavyBlue;
          @include border-radius(4px);

          &.disable {
            background: $lighterGray;
          }
        }
      }
    }
  }
}
