$gray: #A7A7A7;
$aqua: #2795b6;
$red: #c60f13;
$white: #ffffff;
$orange: #fd7f47;
$green: #60B572;

$violetBlue: #9ea7b3;
$lightVioletBlue: #9ba2ac;
$lighterVioletBlue: #AFBECF;
$lightBlue: #D0DAE6;
$lighterBlue: #E9F0F5;
$lightestBlue: #EEF3F7;
$lightGray: #CACACA;
$lighterGray: #E9E9E9;
$lightestGray: #F7F7F7;
$darkNavyBlue: #3c4146;
$navyBlue: #375067;
$lightVioletBlue: #babfc7;
$lightestBrown: #DED8CF;
$darkGray: #5E5E5E;
$darkVioletBlue: #8C96A3;
$darkGreen: #409151;